body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.contenedor {
    display: flex;
}

.imagen {
    width: 889px;
    height: 1252px;
    object-fit: cover;
    cursor: grab;
}
